Repository arthur-nesterenko/vendure-plugin-banner: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:fix

feat: add dev server
  dev-server/index-worker.ts
  dev-server/index.ts
  dev-server/vendure-config.ts
Due: yarn prettify, yarn lint:fix

feat: implement backend and database entities
  src/api/api-extensions.ts
  src/api/banner-admin.resolver.ts
  src/api/banner-shop.resolver.ts
  src/banner-permissions.ts
  src/banner.plugin.ts
  src/entities/banner-section-translation.entity.ts
  src/entities/banner-section.entity.ts
  src/entities/banner.entity.ts
  src/index.ts
  src/service/banner.service.ts
Due: yarn prettify, yarn lint:fix

feat: add ui & translations
  src/translations/en.json
  src/ui/banner-detail/banner-detail.component.html
  src/ui/banner-detail/banner-detail.component.scss
  src/ui/banner-detail/banner-detail.component.ts
  src/ui/banner-detail/banner-detail.graphql.ts
  src/ui/banner-detail/banner-detail.resolver.ts
  src/ui/banner-list/banner-list.component.html
  src/ui/banner-list/banner-list.component.scss
  src/ui/banner-list/banner-list.component.ts
  src/ui/banner-list/banner-list.graphql.ts
  src/ui/banner-section/banner-section.component.html
  src/ui/banner-section/banner-section.component.scss
  src/ui/banner-section/banner-section.component.ts
  src/ui/banner-ui-extension.module.ts
  src/ui/banner-ui-lazy.module.ts
  src/ui/types/fragments.graphql.ts
Due: yarn prettify, yarn lint:fix

build: add gulpfile
  gulpfile.ts
Due: yarn prettify, yarn lint:fix

docs: add readme
  README.md
Due: none

chore(i18n): add ukranian translation
  package.json
  src/translations/uk.json
  yarn.lock
Due: none

feat(i18n): load translation dynamically
  src/banner.plugin.ts
Due: yarn prettify, yarn lint:fix

chore(deps): upgrade libs
  package.json
  yarn.lock
Due: none

chore(i18n): update translations
  src/translations/en.json
  src/translations/uk.json
Due: none

fix: unable to delete banner
  src/entities/banner-section.entity.ts
Due: yarn prettify, yarn lint:fix

refactor(UI): move banners to marketing section
  src/ui/banner-ui-extension.module.ts
  src/ui/banner-ui-lazy.module.ts
Due: yarn prettify, yarn lint:fix

fix: saving new translations
  src/ui/banner-detail/banner-detail.component.ts
  src/ui/banner-list/banner-list.component.ts
  src/ui/banner-section/banner-section.component.html
  src/ui/banner-section/banner-section.component.scss
  src/ui/banner-section/banner-section.component.ts
Due: yarn prettify, yarn lint:fix

chore: upgrade libs
  package-lock.json
  package.json
  yarn.lock
Due: none

fix: add missing relations & fix upsert section
  src/api/banner-admin.resolver.ts
  src/service/banner.service.ts
Due: yarn prettify, yarn lint:fix

style: fix linters
  src/ui/banner-ui-extension.module.ts
  src/ui/banner-ui-lazy.module.ts
Due: yarn prettify, yarn lint:fix

feat: add collapse section & sync enable checkbox with server
  src/ui/banner-detail/banner-detail.component.html
  src/ui/banner-detail/banner-detail.component.ts
  src/ui/banner-section/banner-section.component.html
  src/ui/banner-section/banner-section.component.scss
  src/ui/banner-section/banner-section.component.ts
Due: yarn prettify, yarn lint:fix

feat: add banner position
  src/api/api-extensions.ts
  src/entities/banner-section.entity.ts
  src/service/banner.service.ts
  src/translations/en.json
  src/translations/uk.json
  src/ui/banner-detail/banner-detail.component.html
  src/ui/banner-detail/banner-detail.component.ts
  src/ui/banner-section/banner-section.component.html
  src/ui/banner-section/banner-section.component.scss
  src/ui/banner-section/banner-section.component.ts
  src/ui/types/fragments.graphql.ts
Due: yarn prettify, yarn lint:fix

refactor: improve banner section component with enhanced lifecycle and error handling
  src/ui/banner-detail/banner-detail.component.ts
  src/ui/banner-section/banner-section.component.ts
Due: yarn prettify, yarn lint:fix

feat: sort banner sections by position
  src/service/banner.service.ts
Due: yarn prettify, yarn lint:fix

style: ensure banner preview image maintains aspect ratio
  src/ui/banner-section/banner-section.component.scss
Due: none

feat: add drag and drop functionality for banner sections
  src/ui/banner-detail/banner-detail.component.html
  src/ui/banner-detail/banner-detail.component.scss
  src/ui/banner-detail/banner-detail.component.ts
  src/ui/banner-ui-lazy.module.ts
Due: yarn prettify, yarn lint:fix

refactor: hide position input
  src/ui/banner-section/banner-section.component.html
Due: yarn prettify

chore: migrate from npm to yarn
  package-lock.json
  yarn.lock
Due: none

refactor: update codegen and TypeScript configuration
  codegen.ts
  scripts/copy-assets.ts
  scripts/generate-types.ts
  tsconfig.json
Due: yarn prettify, yarn lint:fix

chore: update package configuration and dependencies
  package.json
Due: none

refactor: update import paths and generated type references
  src/api/banner-admin.resolver.ts
  src/api/banner-shop.resolver.ts
  src/generated-admin-types.ts
  src/generated-shop-types.ts
  src/service/banner.service.ts
  src/ui/banner-detail/banner-detail.component.ts
  src/ui/banner-list/banner-list.component.ts
  src/ui/banner-section/banner-section.component.ts
  src/ui/generated-types.ts
Due: yarn prettify, yarn lint:fix

docs: revamp README with comprehensive plugin documentation
  README.md
Due: none

chore: remove unused gulpfile
  gulpfile.ts
Due: yarn prettify, yarn lint:fix

chore: add GitHub Actions workflow for automated NPM publishing
  .github/workflows/npm-publish.yml
Due: none

refactor: update import statements to use generated-types instead of ui
  src/ui/banner-detail/banner-detail.resolver.ts
  src/ui/banner-ui-extension.module.ts
  src/ui/banner-ui-lazy.module.ts
Due: yarn prettify, yarn lint:fix

chore: run pkg fix
  package.json
Due: none

chore: bump version to 1.0.1
  package.json
Due: none

chore: bump version to 1.0.2 and refactor BannerDetailComponent
  package.json
  src/ui/banner-detail/banner-detail.component.ts
  yarn.lock
Due: yarn prettify, yarn lint:fix

fix: handle null value in "name" column of "banner" relation violating not-null constraint
  src/service/banner.service.ts
Due: yarn prettify, yarn lint:fix

refactor(ui): navigate back to the list after creating a banner
  src/ui/banner-detail/banner-detail.component.ts
Due: yarn prettify, yarn lint:fix

chore: bump version to 1.0.3
  package.json
Due: none

chore: updare vendure deps to 3.3.3
  dev-server/vendure-config.ts
  package.json
  yarn.lock
Due: yarn prettify, yarn lint:fix

refactor(ui): migrate from ngModules to providers
  src/banner.plugin.ts
  src/ui/banner-detail/banner-detail.component.ts
  src/ui/banner-detail/banner-detail.resolver.ts
  src/ui/banner-list/banner-list.component.ts
  src/ui/banner-section/banner-section.component.ts
  src/ui/banner-ui-extension.module.ts
  src/ui/banner-ui-lazy.module.ts
  src/ui/providers.ts
  src/ui/routes.ts
Due: yarn prettify, yarn lint:fix

refactor(vendure): restructure headlessConfig and separate config definition
  dev-server/vendure-config.ts
Due: yarn prettify, yarn lint:fix

refactor(banner): update banner method
  package.json
  src/api/api-extensions.ts
  src/api/banner-admin.resolver.ts
  src/generated-admin-types.ts
  src/generated-shop-types.ts
  src/service/banner.service.ts
  yarn.lock
Due: yarn prettify, yarn lint:fix

Path conditions:
  yarn prettify: (any of: *.ts) or (any of: src/**/*.html)
  yarn lint:fix: any of: *.ts
